body {
    font-family:'Roboto Slab';
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
p {
  color: #555555;
}
.wrapper {
    width: 100%;
    max-width: 1142px;
    margin: 0 auto;
    position: relative;
}
.header {
    background-image: url(../img/Homebg.jpg);
    background-repeat: round;
    padding-bottom: 258px;
    background-size: cover;
}
.Logo {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 24px;
    color: #fff;
}
.nav {
    list-style-type: none;
    padding: 0;
    display: flex;
}
.nav-item {
    margin-left: 0px;
}
.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 12px 20px 11px;
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0px 0px;
    margin-bottom: 260px;
}
.title {
    margin-bottom: 40px;
}
.title h1 {
    max-width: 711px;
    font-family: "Montserrat";
    line-height: 60px;
    font-weight: 400;
    color: #fff;
    font-size: 48px;
    text-transform: uppercase;
    margin: 0 auto;
}
.title p {
    color: #fff;
    font-size: 20px;
    margin-top: 31px;
    margin-bottom: 73px;
}
.center {
    text-align: center;
}
.btn {
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.4s;
    letter-spacing: 1px;
}
.btn:hover {
    background-color: #fff;
    color: #c0301c;
}


/* второй блок */
.service {
    margin-top: 100px;
    margin-bottom: 103px;
}
.head-title {
    color: #555;
}
.head-title h2 {
    font-family: "Montserrat";
    font-size: 20px;
    text-transform: uppercase;

}
.line {
    border: 2px solid #555;
    width: 50px;
    margin: 30px auto;
}
.blok_logo {
    display: flex;
    justify-content: space-between;
    flex-basis: 33%;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    margin: 70px 0 23px 0;
    text-align: center;
  }
  .flexbox_item {
    padding: 0 18px;
  }
  .flexbox_item h3 {
    font-family: "Montserrat";
    font-size: 14px;
    margin: 0px 0px 15px 0px;
    font-size: 24px;
    color: #555;
  }
  .flexbox_item p {
      font-size: 14px;
  }
  .flexbox_icon {
    height: 90px;
    width: 90px;
    border: 2px solid #555555;
    border-radius: 100%;
    margin: 0 auto 52px;
    position: relative;
    transition: 0.2s;
  }
  .flexbox_icon:hover {
    border: 2px solid #c0301c;

  }
  .flexbox_icon::after {
    content: '';
    background-image: url(../img/sprite.png);
    position: absolute;
    background-repeat: no-repeat;
  }
  
  .flexbox_icon_A::after{
    background-image: url(../img/sprite.png);
    width: 44px;
    height: 56px;
    background-position: 0px -54px;
    top: calc(50% - 38px);
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .flexbox_icon_Tag::after{
    background-image: url(../img/sprite.png);
    width: 60px;
    height: 53px;
    background-position: -70px -57px;
    top: calc(50% - 32px);
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .flexbox_icon_circle::after{
    background-image: url(../img/sprite.png);
    width: 52px;
    height: 58px;
    background-position: -159px -53px;
    top: calc(50% - 33.5px);
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .flexbox_icon_A:hover::after{
    background-position: 0px 15px;
  }
  .flexbox_icon_Tag:hover::after{
    background-position: -70px 12px;
  }
  .flexbox_icon_circle:hover::after{
    background-position: -159px 9px;
  }
  
  .flexbox_icon:hover {
    background-color: #c0301c;
  }
  
  /* Третий блок */
.grey {
  background-color: #f8f8f8;
}
.team-blok {
  padding-top: 100px;
  padding-bottom: 100px;
}
.team-blok-item {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.team-blok-item h3 {
  font-family: "Montserrat";
  font-size: 14px;
  color: #555;
}
.team-blok-item p {
  font-size: 13px;
}
.team-blok-text {
  display: flex;
  margin-bottom: 73px;
  margin-top: 73px;
}
.text-left {
  padding-right: 41px;
}
.team-one:hover .social{
  display: contents;
}
.team-two:hover .social{
  display: contents;
}

.team-blok-flex:hover .fa-chevron-left {
  background-color: #c2c2c2;
}
.team-blok-flex:hover img {
  background-color: black;
}
.team-four:hover .fa-chevron-right {
  background-color: #c2c2c2;
}
.social:hover {
  background-color: #c0301c;
}

.blog-social {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: absolute;
  top: calc(100% - 117px);
  left: 67px;
  text-align: center;
  border: none;
  width: 127px;
}
.social {
  color: #fff;
  width: 29px;
  height: 29px;
  display: none; /* Видимый социал */
}
.social svg:hover {
  background-color: #c0301c;

}
.svg-inline--fa {
  width: 16px;
  height: 16px;
  padding: 5px;
}
.fa-chevron-left {
  position: absolute;
  top: calc(100% - 212px);
  left: 0;
  background-color: #c0301c;
  color: #fff;
}
.fa-chevron-right {
  position: absolute;
  top: calc(100% - 212px);
  right: 0;
  background-color: #c0301c;
  color: #fff;
}
/* Четвертый блок с грид */
.page-grid {
  padding-top: 100px;
  padding-bottom: 99px;
}
.link-grid {
  color: #555;
}
.link-grid:hover {
  color: #c0301c;
} 
.nav-grid {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 70px;
}
.grid {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 30px 32px;
}
.grid-item {
  width: 360px;
  height: 320px;
}
.item1 {
  background-image: url(../img/work1.png);
  background-repeat: no-repeat;
}
.item2 {
  background-image: url(../img/work2.png);
  background-repeat: no-repeat;
}
.item3 {
  background-image: url(../img/work3.png);
  background-repeat: no-repeat;
}
.item4 {
  background-image: url(../img/work4.png);
  background-repeat: no-repeat;
}
.item5 {
  background-image: url(../img/work5.png);
  background-repeat: no-repeat;
}
.item6 {
  background-image: url(../img/work6.png);
  background-repeat: no-repeat;
}
.item7 {
  background-image: url(../img/work7.png);
  background-repeat: no-repeat;
}
.item8 {
  background-image: url(../img/work8.png);
  background-repeat: no-repeat;
}
.item9 {
  background-image: url(../img/work9.png);
  background-repeat: no-repeat;
}
.grid-hover {
  display: none;
  text-align: center;
  margin-top: 120px;
  color: #fff;
}
.grid-hover p {
  color: #fff;
}
.item1:hover {
background-image: url(../img/work11.png);
}
.item2:hover {
  background-image: url(../img/work22.png);
}
.item3:hover {
  background-image: url(../img/work33.png);
}
.item4:hover {
  background-image: url(../img/work44.png);
}
.item5:hover {
  background-image: url(../img/work55.png);
}
.item6:hover {
  background-image: url(../img/work66.png);
}
.item7:hover {
  background-image: url(../img/work77.png);
}
.item8:hover {
  background-image: url(../img/work88.png);
}
.item9:hover {
  background-image: url(../img/work99.png);
}
.grid-item:hover .grid-hover{
  display: block;

}
.btn-grid {
  color: #c0301c;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  border: none;
}
.btn-grid::after {
  content: '>';
  margin-left: 6px;
  margin-top: 0;
  font-size: 16px;
}
/* Пятый блок */
.page-bg {
  background-image: url(../img/Paralax.jpg);
  height: 369px;
  width: 100%;
}
.page-bg-item {
  margin: 0 auto;
  width: 460px;
  text-align: center;
  color: #fff;
  padding-top: 99px;
  padding-bottom: 40px;
}
/* Шестой блок */
.page-post {
  margin-top: 96px;
  margin-bottom: 100px;
}
.image-one {
  background-image: url(../img/Blog1.png);
  background-repeat: no-repeat;
  width: 460px;
  height: 325px;
}
.image-two {
  background-image: url(../img/Blog2.png);
  background-repeat: no-repeat;
  width: 460px;
  height: 325px;
}
.post {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 70px;
  flex-wrap: wrap;
}
.post-item {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-left: 42px;
}
.post-item-blog {
  width: 629px;
  margin-left: 42px;
  display: flex;
  flex-wrap: wrap;
}
.post-item-blog p {
  margin: 0px;
}
.data {
  display: inline-grid;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  color: #777;
  width: 75px;
  height: 75px;
  border: 1px solid #777;
  text-align: center;
  align-content: center;
}
.data span {
  font-size: 14px;
  text-align: center;

}
.post-item-header {
  margin-left: 27px;
}
.post-item-header h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.post-item-header p {
  margin-top: 0;
  font-style: italic;
}
.post-item-header a {
  text-decoration: none;
  color: #777;
}
.post-item-header a:hover {
  color: #c0301c;
}
.post-item-link {
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;

}
.post-item-link:hover {
  color: #c0301c;
}
.post-item-two {
  margin-top: 48px;
}
.line-post {
  border: 0.5px solid #555;
  width: 100%;
  max-width: 1142px;
  margin-left: 42px;
  margin-top: 40px;
}
/* Седьмой блок */
.page-company {
  padding-bottom: 100px;
}
.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 40px;
}
.company-item-one {
  background-image: url(../img/Deorham.png);
  background-repeat: no-repeat;
  width: 148px;
  height: 30px;
}
.company-item-two {
  background-image: url(../img/Ratings.png);
  background-repeat: no-repeat;
  width: 122px;
  height: 50px;
}
.company-item-three {
  background-image: url(../img/malik_media.png);
  background-repeat: no-repeat;
  width: 143px;
  height: 18px;
}
.company-item-four {
  background-image: url(../img/Bcause.png);
  background-repeat: no-repeat;
  width: 110px;
  height: 22px;
}
.company-item-five {
  background-image: url(../img/wompily.png);
  background-repeat: no-repeat;
  width: 123px;
  height: 47px;
}

.page-company-item p {
  text-align: center;
  max-width: 759px;
  margin: 40px auto;
}
.text {
  font-size: 18px;
  font-style: italic;
}
.text-name {
  font-size: 20px;
  margin-top: 40px;
}
.elips-item {
  display: flex;
  justify-content: center;
}
.elips {
  background-image: url(../img/elips.png);
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
}
.elips-one,
.elips-two {
  margin-right: 7px;
}
.elips:hover {
  background-image: url(../img/elips-red.png);
}
.footer {
  background-color: #c0301c;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}
.line-footer {
  border: 2px solid #fff;
  width: 50px;
  margin: 30px auto;

}
.social-footer {
  color: #fff;
  display: flex;
  justify-content: center;
}
.social-footer svg {
  border: 2px solid #fff;
  border-radius: 100%;

}
.social-one {
  margin-right: 14px;
}
